<nav>
<div class="nav-wrapper">
  <a href="/" class="brand-logo">Магазин Дон Сливон</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">

      <!-- Home  -->
      {{#if isHome}}
        <li class="active"><a href="/">Главная</a></li>
      {{else}}
          <li><a href="/">Главная</a></li>
      {{/if}}

      <!--  Courses -->
      {{#if isCourses}}
        <li class="active"><a href="/courses">Курсы</a></li>
      {{else}}
          <li><a href="/courses">Курсы</a></li>
      {{/if}}

      {{#if isAuth}}

          <!--   Add   -->
          {{#if isAdd}}
              <li class="active"><a href="/add">Добавить курс</a></li>
          {{else}}
                <li><a href="/add">Добавить курс</a></li>
          {{/if}}

          <!--   Card   -->
          {{#if isCard}}
              <li class="active"><a href="/card">Корзина</a></li>
          {{else}}
                <li><a href="/card">Корзина</a></li>
          {{/if}}

          <!--   Order   -->
          {{#if isOrders}}
              <li class="active"><a href="/orders">Заказы</a></li>
          {{else}}
                <li><a href="/orders">Заказы</a></li>
          {{/if}}

          <!--   Logout   -->
          <li><a href="/auth/logout">Выйти</a></li>
      {{else}}

          <!--   Auth   -->
          {{#if isLogin}}
            <li class="active"><a href="/auth/login#login">Вход</a></li>
          {{else}}
                <li><a href="/auth/login#login">Вход</a></li>
          {{/if}}

      {{/if}}







  </ul>
</div>
</nav>